.navbar-dark .navbar-nav .nav-link {
  color: rgb(255,255,255);
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  justify-content: space-between;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.custom-gallery img {
  opacity: 0;
}

.thumbnail-cols-col .row div, .main-img-col {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: background 1s;
}

#main-headline {
  margin-top: 48px;
  letter-spacing: 1px;
}

.section-heading {
  border-radius: 2px;
  border-width: 1px;
  border-bottom-style: solid;
  text-shadow: 1px 1px 1px;
  font-weight: 1000;
  text-transform: uppercase;
  text-align: center;
}

.gradient-bg-row {
  background: linear-gradient(rgb(0,0,0) 0%, rgba(0,0,0,0.5) 40%, rgba(0,0,0,0.5) 60%, black 100%), linear-gradient(90deg, rgb(0,0,0) 0%, rgba(0,0,0,0.5) 10%, rgba(0,0,0,0.5506594258046098) 90%, black 100%);
  margin-top: 16px;
}

.thumbnail-cols-col .row {
  padding-top: 16px;
  padding-bottom: 16px;
  overflow: hidden;
}

.custom-gallery {
  margin-top: 16px;
  margin-bottom: 64px;
}

.project-detail {
  background: rgba(0,0,0,0.69);
  margin-bottom: 16px;
  margin-top: 56px;
  text-shadow: 1px 1px 0 rgba(204,32,18,0.32), -1px 1px 0 rgba(204,32,18,0.32), 1px -1px 0 rgba(204,32,18,0.32), -1px -1px 0 rgba(204,32,18,0.32);
  color: var(--bs-white);
}

